@font-face {
    font-family: 'Roboto Light';
    src: url('/fonts/Roboto-Light.ttf');
    src: url('/fonts/Roboto-Light.ttf') format('embedded-opentype'),
    url('/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('/fonts/Roboto-Thin.ttf');
    src: url('/fonts/Roboto-Thin.ttf') format('embedded-opentype'),
    url('/fonts/Roboto-Thin.ttf') format('woff'),
    url('/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}    

@font-face {
    font-family: 'Roboto Black';
    src: url('/fonts/Roboto-Black.ttf');
    src: url('/fonts/Roboto-Black.ttf') format('embedded-opentype'),
    url('/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
    src: url('/fonts/Roboto-Regular.ttf') format('embedded-opentype'),
    url('/fonts/Roboto-Regular.ttf') format('woff'),
    url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
}    

@font-face {
    font-family: 'Roboto Bold';
    src: url('/fonts/Roboto-Bold.ttf');
    src: url('/fonts/Roboto-Bold.ttf') format('embedded-opentype'),
    url('/fonts/Roboto-Bold.ttf') format('woff'),
    url('/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

